.carousel {
  height: 300px;
  display: flex;
  transition: transform 750ms ease-in-out;
}

.carousel-controls {
  background: rgba(0, 0, 0, 0.1);
  bottom: 0;
  display: flex;
  gap: 32px;
  padding: 4px;
  justify-content: center;
  position: absolute;
  width: 100vw;
}

.carousel-controls .control {
  background: none;
  border: none;
  cursor: pointer;
  filter: invert(.8);
  outline: none;
}

.control img {
  height: 20px;
}

.control:hover,
.control:focus {
  filter: invert(1);
}

.carousel-picker {
  background: black;
  border: 2px solid white;
  border-radius: 100%;
  cursor: pointer;
  height: 18px;
  width: 18px;
}

.carousel-picker.active {
  background: #ddd;
}

.hero {
  max-width: 100vw;
  overflow: hidden;
  position: relative;
}

.hero .hero-image {
  background-position: center;
  background-size: cover;
  height: 100%;
  flex: 1;
}
