@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
  --brand-blue : #28adde;
  --brand-green: #0f0;
  --brand-middle: #14d66f;
  --bg-dark: #212529;
  --bg-error: #ff5c5c;
  --bg-light: #f8f9fa;
  --text-dark: #232323;
  --text-error: #cc2b2a;
  --text-light: #eee;
  --text-valid: #01933b;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

a {
  color: #07a;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #037;
}

body {
  background: var(--bg-light);
  color: var(--text-dark);
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 1.2rem;
  height: 100%;
  line-height: 1.4;
}

button {
  background: var(--brand-blue);
  border: none;
  cursor: pointer;
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 1.2rem;
  padding: 8px;
  width: max-content;
}

button.error {
  color: var(--text-light);
  background: var(--text-error);
}

button.sign-out {
  background: none;
  color: var(--text-light);
  opacity: 0.6;
  padding: 0;
}

button.sign-out:hover,
button.sign-out:focus {
  opacity: 1;
}

button:hover,
button:focus {
  filter: contrast(150%);
}

button.submit {
  background: var(--brand-middle);
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

form {
  gap: 16px;
}

form label {
  gap: 4px;
}

form ,
form label {
  display: flex;
  flex-direction: column;
}

form input,
form select,
form textarea {
  background: #fff;
  border-radius: 0;
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 1.2rem;
  padding: 8px;
}

input[type="checkbox"] {
  accent-color: var(--brand-blue);
  height: 24px;
  width: 24px;
}

pre {
  white-space: pre-wrap;
}

.banner {
  align-items: center;
  background: linear-gradient(90deg, var(--brand-green), var(--brand-blue));
  box-shadow:0 0 4px 4px #ccc;
  color: var(--text-dark);
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  height: 100px;
  width: 100%;
}

.brand {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.brand a {
  color: #ccc;
  text-decoration: none;
}

.brand a:hover,
.brand a:focus {
  color: #eee;
}

.brand .logo {
  height: 64px;
}

.card {
  background: #fff;
  border-left: 8px solid var(--brand-green);
  border-right: 8px solid var(--brand-blue);
  box-shadow:0 0 4px 4px #ccc;
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 1rem;
}

.card h1 {
  font-size: 2rem;
}

.card h2 {
  align-self: center;
  font-size: 1.6rem;
}

.card .error-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-image {
  border: 3px solid var(--brand-blue);
  border-radius: 5%;
  height: 200px;
  width: 200px;
}

.card-contents {
  align-items: center;
  display: flex;
  gap: 16px;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 900px;
}

.carousel {
  height: 300px;
  display: flex;
  transition: transform 750ms ease-in-out;
}

.carousel-controls {
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  bottom: 0;
  display: flex;
  gap: 32px;
  padding: 4px;
  justify-content: center;
  position: absolute;
  width: 100vw;
}

.carousel-controls .control {
  background: none;
  border: none;
  cursor: pointer;
  filter: invert(.8);
  outline: none;
}

.carousel-picker {
  background: black;
  border: 2px solid white;
  border-radius: 100%;
  cursor: pointer;
  height: 18px;
  width: 18px;
}

.carousel-picker.active {
  background: #ddd;
}

.category-choice {
  display: flex;
  gap: 8px;
}

.catalog-control {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.catalog-menu-button {
  display: none;
}

.catalog-menu-button img {
  height: 24px;
  transition: transform 200ms ease-in-out;
}

.catalog-detail-image.product-image {
  max-width: 500px;
}

.catalog-products {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.catalog-products .product-detail {
  cursor: pointer;
  gap: 8px;
}

.catalog-products .image-container {
  height: 240px;
}

.catalog-products .product-detail:hover {
  cursor: pointer;
  outline: 2px solid black;
}

.catalog-products .product-image {
  max-width: 240px;
}

.catalog-products .image-placeholder {
  max-width: 300px;
}

.catalog-products .image-placeholder.summary {
  max-width: 240px;
}

.catalog-products .detail-link {
  margin-top: auto;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.control img {
  height: 20px;
}

.control:hover,
.control:focus {
  filter: invert(1);
}

.dashboard .card {
  align-items: center;
  flex-direction: column;
}

.dashboard .dashboard-content {
  display: grid;
  gap: 64px;
  grid-template-columns: auto 1fr;
  max-width: 900px;
  width: 100%;
}

.dashboard .dashboard-content.catalog {
  max-width: 1600px;
}

.dashboard .dashboard-control h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

.dashboard .dashboard-control ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dashboard-detail {
  align-content: start;
  display: grid;
  gap: 8px;
}

.detail-heading {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
}

.detail-heading > div {
  display: flex;
  flex-direction: column;
}

.drop-file {
  color: #444;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 8px;
}

.drop-file.empty {
  align-items: center;
  border: 4px dashed #aaa;
  display: flex;
  height: 200px;
  justify-content: center;
  width: 200px;
}

.drop-file.download-added {
  align-items: center;
  word-break: break-word;
  color: #111;
  border: 4px solid var(--brand-blue);
  display: flex;
  height: 200px;
  justify-content: center;
  width: 200px;
}

.drop-image {
  height: 64px;
  opacity: 30%;
}

.file-added {
  height: 64px;
}

.error {
  background: var(--bg-error);
  color: var(--text-dark);
  padding: 8px;
}

.feature-choice {
  display: flex;
  gap: 8px;
}

.feature-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  user-select: none;
}

.feature-inputs > div {
  align-items: center;
  display: flex;
}

.footer {
  align-items: center;
  background: var(--bg-dark);
  color: #ccc;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: auto;
  padding: 8px;
}

.footer-content {
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.footer-content,
.footer-links,
.footer-links ul {
  display: flex;
}

.footer-links {
  gap: 16px;
}

.footer-links h3 {
  font-weight: bold;
}

.footer-links ul {
  flex-direction: column;
  gap: 8px;
}

.header {
  background: var(--bg-dark);
  position: sticky;
  top: 0;
  z-index: 9;
}

.header a {
  color: var(--text-light);
  opacity: 0.6;
  text-decoration: none;
  transition: opacity 200ms;
}

.header a:hover,
.header a:focus {
  opacity: 1;
}

.header img {
  height: 64px;
}

.header-content {
  align-items: center;
  background: var(--bg-dark);
  color: var(--text-light);
  display: flex;
  font-size: 1.2rem;
  gap: 32px;
  max-width: 1200px;
  margin: auto;
  padding: 8px;
}

.header-gradient {
  background: linear-gradient(90deg, var(--brand-green), var(--brand-blue));
  height: 4px;
  width: 100%;
}

.hero {
  max-width: 100vw;
  overflow: hidden;
  position: relative;
}

.hero .hero-image {
  background-position: center;
  background-size: cover;
  height: 100%;
  flex: 1;
}

.hero-static {
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
}

.image-label {
  align-self: flex-start;
}

.image-placeholder {
  animation: gradient 2s ease infinite;
  aspect-ratio: 1;
  background: linear-gradient(90deg, var(--brand-green), var(--brand-blue));
  background-size: 400% 400%;
  border: 2px solid var(--brand-blue);
  border-radius: 5px;
  height: auto;
  max-width: 500px;
  width: 100%;
}

.image-placeholder.small {
  height: 80px;
  width: 80px;
}

.loading-image {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  width: 100%;
}

.loading-image img {
  max-width: 400px;
  width: 100%;
}

.loading-screen {
  align-items: center;
  animation: gradient 2s ease infinite;
  aspect-ratio: 1;
  background: linear-gradient(90deg, var(--brand-green), var(--brand-blue));
  background-size: 400% 400%;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.image-preview {
  width: 200px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
}

.nav a.active {
  opacity: 1;
}

.nav ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}

.toggle-collapse {
  display: none;
}

.toggle-collapse img {
  height: 32px;
}

@media screen and (max-width: 1000px) {
  .catalog-control {
    border-bottom: 2px solid #ccc;
    padding-bottom: 4px;
  }

  .catalog-menu-button {
    display: flex;
  }

  .catalog-menu-button img.show {
    transform: rotate(180deg);
  }

  .dashboard .dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .dashboard .dashboard-control.catalog-dashboard {
    background: #fff;
    position: sticky;
    top: 84px;
  }

  .dashboard .dashboard-control ul.catalog-categories {
    display: none;
    max-height: 0;
  }

  .dashboard .dashboard-control ul.catalog-categories.show {
    border: 2px solid #111;
    display: flex;
    max-height: 1000px;
    padding: 8px;
  }

  .header-content {
    justify-content: space-between;
  }

  .nav,
  .search-form  {
    display: none;
  }

  .nav.visible,
  .search-form.visible {
    display: flex;
  }

  .nav.visible ul {
    flex-direction: column;
    gap: 32px;
  }

  .nav-sidebar {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    width: 100%;
  }

  .nav-sidebar-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .searchbar {
    align-self: center;
    max-width: 400px;
  }

  .toggle-collapse {
    display: flex;
  }
}

.product-count {
  font-size: 1rem;
}

.catalog .product-detail {
  max-width: 900px;
}

.ndaa-icon {
  max-width: 160px;
  width: 100%;
}

.ndaa-icon.summary {
  max-width: 100px;
}

.catalog .catalog-products .product-detail {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 240px;
  max-width: 320px;
}

.p8 {
  padding: 8px;
}

.product-detail {
  background: #eee;
  border: 2px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
}

.product-detail.list {
  gap: 0;
  padding: 0;
}

.product-detail ul {
  list-style: circle inside;
}

.product-detail ul.product-features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
}

.product-detail h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.product-detail h4 {
  font-size: 1.4rem;
  font-weight: bold;
}

.product-detail .edit-button {
  color: #111;
  cursor: pointer;
  background: var(--brand-blue);
  padding: 8px;
  width: max-content;
}

.product-detail .edit-button:focus,
.product-detail .edit-button:hover {
  filter: contrast(150%);
}

.product-image {
  border: 2px solid var(--brand-blue);
  border-radius: 5px;
  height: auto;
  max-width: 320px;
  width: 100%;
}

.product-image-small {
  border: 2px solid var(--brand-blue);
  border-radius: 5px;
  height: 80px;
}

.product-list-item {
  align-items: center;
  background: #eee;
  display: flex;
  gap: 0;
  justify-content: space-between;
  padding-left: 8px;
  width: 100%;
}

.product-list-item.even {
  background: #ddd;
}

.product-list-item:hover {
  background: var(--brand-middle);
  filter: none;
}

.product-list-item:focus {
  background: #999;
  filter: none;
}

.searchbar {
  background: #eee;
}

.searchbar:hover,
.searchbar:focus,
.searchbar:active {
  border: 2px solid var(--brand-blue);
  outline: 2px solid var(--brand-blue);
}

.search-form {
  position: relative;
}

.search-form input {
  z-index: 9;
}

.search-form .overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 0;
}

.search-form .overlay.hidden {
  display: none;
}

.search-results {
  background: #fff;
  border: 2px solid #ccc;
  color: var(--text-dark);
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 75vh;
  max-width: 1000px;
  overflow: auto;
  position: absolute;
  width: 100%;
  top: 45px;
  z-index: 9;
}

@media screen and (min-width: 1000px) {
  .search-results {
    width: 50vw;
    right: 0;
  }
}

.search-results.hidden {
  display: none;
}

.search-results figcaption {
  font-weight: bold;
}

.socials {
  display: flex;
  gap: 16px;
}

.socials .social-logo {
  filter: invert(0.9);
  height: 32px;
}

.success {
  background: var(--brand-middle);
  padding: 8px;
}

#root {
  height: 100%;
}

@media screen and (max-width: 600px) {
  .card-contents {
    flex-direction: column;
  }

  .carousel {
    height: 200px;
  }

  .catalog .catalog-products .product-detail {
    max-width: 100%;
  }

  .footer-content {
    align-items: center;
    flex-direction: column;
    gap: 32px;
  }

  .hero-static {
    height: 200px;
  }

  .info {
    padding-left: 0;
    padding-right: 0;
  }
}
