@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
  --brand-blue : #28adde;
  --brand-green: #0f0;
  --bg-dark: #212529;
  --bg-light: #f8f9fa;
  --text-dark: #111;
  --text-light: #eee;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}


body {
  background: var(--bg-light);
  height: 100%;
  font-family: "Noto Sans", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#root {
  height: 100%;
}

