@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
  --brand-blue : #28adde;
  --brand-green: #0f0;
  --bg-dark: #212529;
  --bg-error: #ff5c5c;
  --bg-light: #f8f9fa;
  --text-dark: #111;
  --text-light: #eee;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}


body {
  background: var(--bg-light);
  height: 100%;
  font-family: "Noto Sans", Arial, sans-serif;
}

button {
  background: #14d66f;
  border: none;
  cursor: pointer;
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 1rem;
  padding: 8px;
}

fieldset {
  display: flex;
  flex-direction: column;
}

form {
  gap: 16px;
}

form label {
  gap: 4px;
}

form ,
form label {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 1rem;
  padding: 8px;
}

.banner {
  align-items: center;
  background: linear-gradient(90deg, var(--brand-green), var(--brand-blue));
  box-shadow:0 0 4px 4px #ccc;
  color: var(--text-dark);
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  height: 100px;
  width: 100%;
}

.brand {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.brand a {
  color: #ccc;
  text-decoration: none;
}

.brand a:hover,
.brand a:focus {
  color: #eee;
}

.brand .logo {
  height: 64px;
}

.card {
  background: #fff;
  border-left: 8px solid var(--brand-green);
  border-right: 8px solid var(--brand-blue);
  box-shadow:0 0 4px 4px #ccc;
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 1rem;
}

.card h1 {
  font-size: 2rem;
}

.card h2 {
  align-self: center;
  font-size: 1.6rem;
}

.card-image {
  border: 3px solid var(--brand-blue);
  border-radius: 5%;
  height: 200px;
  width: 200px;
}

.card-contents {
  align-items: center;
  display: flex;
  gap: 16px;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 900px;
}

.carousel {
  height: 300px;
  display: flex;
  transition: transform 750ms ease-in-out;
}

.carousel-controls {
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  bottom: 0;
  display: flex;
  gap: 32px;
  padding: 4px;
  justify-content: center;
  position: absolute;
  width: 100vw;
}

.carousel-controls .control {
  background: none;
  border: none;
  cursor: pointer;
  filter: invert(.8);
  outline: none;
}

.carousel-picker {
  background: black;
  border: 2px solid white;
  border-radius: 100%;
  cursor: pointer;
  height: 18px;
  width: 18px;
}

.carousel-picker.active {
  background: #ddd;
}

.categories.card {
  flex-direction: column;
  justify-content: flex-start;
}

.categories.card ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.categories.card button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Noto Sans", Arial, sans-serif;
  outline: none;
}

.categories.card button:hover,
.categories.card button:focus {
  outline: 3px solid var(--brand-blue);
}

.category-choice {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.control img {
  height: 20px;
}

.control:hover,
.control:focus {
  filter: invert(1);
}

.copyright {
  text-align: center;
}

.dashboard .card {
  align-items: center;
  flex-direction: column;
}

.dashboard .dashboard-content {
  display: grid;
  gap: 64px;
  grid-template-columns: auto 1fr;
  max-width: 900px;
  width: 100%;
}

.error {
  background: var(--bg-error);
  color: var(--text-dark);
  padding: 8px;
}

.footer {
  align-items: center;
  background: var(--bg-dark);
  color: #ccc;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: auto;
  padding: 8px;
}

.footer-content {
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
}

.footer-content,
.footer-links,
.footer-links ul {
  display: flex;
}

.footer-links {
  gap: 16px;
}

.footer-links h3 {
  font-weight: bold;
}

.footer-links ul {
  flex-direction: column;
  gap: 8px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 9;
}

.header a {
  color: var(--text-light);
  opacity: 0.5;
  text-decoration: none;
  transition: opacity 200ms;
}

.header a:hover,
.header a:focus {
  opacity: 1;
}

.header img {
  height: 64px;
}

.header-content {
  align-items: center;
  background: var(--bg-dark);
  color: var(--text-light);
  display: flex;
  font-size: 1.1rem;
  gap: 32px;
  padding: 8px;
}

.header-gradient {
  background: linear-gradient(90deg, var(--brand-green), var(--brand-blue));
  height: 4px;
  width: 100%;
}

.hero {
  max-width: 100vw;
  overflow: hidden;
  position: relative;
}

.hero .hero-image {
  background-position: center;
  background-size: cover;
  height: 100%;
  flex: 1;
}

.hero-static {
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
}

.image-preview {
  width: 128px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
}

.info.products-page {
  display: grid;
  gap: 16px;
  grid-template-columns: auto 1fr;
}

.nav a.active {
  opacity: 1;
}

.nav ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.product-image {
  height: auto;
  max-width: 200px;
}

.products-list.card {
  display: flex;
  flex-direction: column;
}

.products-list-contents {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.single-product {
  border: 1px solid #ccc;
  padding: 16px;
}

.single-product h3 {
  font-size: 1.2rem;
}

.socials {
  display: flex;
  gap: 16px;
}

.socials .social-logo {
  filter: invert(0.9);
  height: 32px;
}

#root {
  height: 100%;
}

@media screen and (max-width: 600px) {
  .card-contents {
    flex-direction: column;
  }

  .carousel {
    height: 200px;
  }

  .footer-content {
    align-items: center;
    flex-direction: column;
    gap: 32px;
  }

  .hero-static {
    height: 200px;
  }

  .info {
    padding-left: 0;
    padding-right: 0;
  }

  .info.products-page {
    display: flex;
    flex-direction: column;
  }

  .products-list-contents {
    justify-content: center;
  }
}
